.gameObject{
    /* border: black solid 1px; */
    width: 150px;
    height: auto;
    position: absolute;
    z-index: 1;
    top: 45%;
    left: 40%;
}

#GameBody,#GameContainer{
    position: relative;
    width: 700px;
    height: 700px;
    border: black solid 1px;
    z-index: 0;
}

body{
   display: flex;
   flex-direction: column;
   align-items: center; 
}

.missle-friendly,.missle-hostile{
    width: 50px;
    height: auto;
    position: relative;
    z-index: 1;
    top: 45%;
    left: 40%;
    transform: rotate(180deg);
}

.missle-hostile{
    width: 75px;
}